* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

/* .recipes-grid {
  /* width: 80vw;
  margin-left: 12%; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px; 
} */
