.modal-overlay-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto; /* Allows scrolling on the overlay if needed */
  z-index: 1050;
}

.modal-content-recipe {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-height: 90vh; /* Limits the height and allows internal scrolling */
  overflow-y: auto; /* Enables scrolling within the modal */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 70%;
}

.recipe-top {
  display: flex;
  align-items: flex-start; /* Aligns the image and details at their top */
  gap: 20px; /* Adds some space between the image and the details */
}

.recipe-image {
  width: 500px; /* Adjust size as needed */
  /* height: auto; */
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}

.recipe-details {
  flex-grow: 1; /* Allows the details section to take up remaining space */
}

.recipe-details strong {
  display: block; /* Make the <strong> block-level so margin-top applies */
  margin-top: 50px;
}

.recipe-instructions, .recipe-link, .close-button {
  display: block; /* Ensures these elements each take up a full row */
  margin-top: 20px; /* Adds spacing between sections */
}

.close-button {
  align-self: flex-end; /* Positions the close button at the end */
}
